body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid black;
  width: 700px;
  height: 400px; /* 4:7比率 */
}
